
body {
    font-family:'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    justify-content: center;
    display: flex;
    align-items: center;
   flex-direction: column;
   padding: 20px;
}

.search-container {
    margin-left: 600px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    width: 500px;
    margin-top:50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Basic box shadow */

}
.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#searchInput {
    flex: 1;
    padding: 10px;
    margin-right: 0px;
    width: 100px;
    margin:5px;
    outline: none; /* Prevents the default outline on focus */
    transition: border 0.3s ease;
    color:#092635;
    border:none;
    background:none;

}
/* Remove border when input is focused */
#searchInput:focus {
    border: none; /* Remove border on focus */
}

#searchButton {
    padding: 8px 24px;
    background-color: #1B4242;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-left: 0px;
    border:none;
}

#searchButton:hover {
    background-color: #5C8374;
}
#searchButton:focus {
    border:none;
}


.search-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dropdown-rank{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.dropdown-order{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.filter-button i {
    font-size:1.125em;

}
.filter-container {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
}
.filter-button {
    padding: 8px 12px;
    background:#092635;
    border: 1px solid #092635;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    color: #fff;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    background-color:#092635;
}
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #1B4242;
    color: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    margin-top: 50px;
}
.table th, .table td {
    vertical-align: middle;
}
.btn i {
    margin-right: 5px;
}

.download{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 0px;
}
#downloadPdfButton{
background-color: #1B4242;
border: none;
height: 40px;
margin-right: 5px;
border-radius: 5px;
color: #fff;
}

#downloadPdfButton:hover{
border: none;
background-color: #5C8374;
}


#downloadExcelButton{
background-color:#5C8374;
border: none;
height: 40px;
margin-right: 5px;
border-radius: 5px;
color: #fff;
}

#downloadExcelButton:hover{
border: none;
background-color: #9EC8B9;
}

.leaderboard-title {
    background: linear-gradient(to bottom, #092635, #5C8374);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.leaderboard-table {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.leaderboard-table th, .leaderboard-table td {
    border: none;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}
.leaderboard-table th {
    background-color: #1B4242;
    color: #fff;
}
.leaderboard-table tbody tr:nth-child(odd) {
    background-color: #5C8374;
    color: #fff;
}
.leaderboard-table tbody tr:nth-child(even) {
    background-color: #9EC8B9;
    color: #092635;
}
.leaderboard-table tbody tr:hover {
    background-color: #1B4242;
    color: #fff;
}
.btn-primary {
    background-color: #092635;
    border-color: #092635;
}
.btn-primary:hover {
    background-color: #1B4242;
    border-color: #1B4242;
}
.btn-danger {
    background-color: #9EC8B9;
    border-color: #9EC8B9;
}
.btn-danger:hover {
    background-color: #5C8374;
    border-color: #5C8374;
}